@import url('https://fonts.googleapis.com/css2?family=Fondamento:ital@0;1&family=Honk&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Press+Start+2P&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #c399cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    top: 10vh;
    left: 10vw;
    position: absolute;
}

canvas {
    background-color: #eee6f0;
    display: block;
    border-radius: 5px;
}

canvas.night {
    background-color: #c5b5c9;
}

h1 {
    font-size: 75px;
    font-family: "Honk", system-ui;

}

.btn {
    cursor: pointer;
    border: 0;
    padding: 10px 20px;
    background: black;
    color: white;
    border-radius: 5px;
}

.btn:hover {
    background: #222222;
}

.btn:active {
    transform: scale(.98);
}

.rules-btn {
    position: absolute;
    top: 30px;
    left: 30px;
}


.rules {
    position: absolute;
    top: 0;
    left: 0;
    background: #333333;
    color: #ffffff;
    min-height: 100vh;
    width: 400px;
    padding: 20px;
    line-height: 1.5;
    transform: translateX(-400px);
    transition: transform 1s ease-in-out;
}

.rules.show {
    transform: translateX(0);
}
.play-btn {
    position: absolute;
    background-color: #a35280;
    bottom: 60px;
    display: inline;
}

.play-btn:hover {
    background-color: #8f4770;
}
.play-btn.active {
    background-color: blue;
    display: none;
}

.npbtn {
    position: absolute;
    background-color: #66304f;
    bottom: 60px;
    display: none;
}

.nplaybtn.night {
    display: inline;
}

.day-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    background-color: #95b9c2;
}


.day-btn.active {
    display: none;
}

.day-btn:hover {
    background-color: #89aab3;
}

.night-btn {
    position: absolute;
    top: 20px;
    right: 40px;
    background-color: #6f53bd;
}

.night-btn.active {
    display: none;
}

.night-btn:hover {
    background-color: #533e8c;
}

body.night {
    background-color: #c399cf;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
